<div class="post">
  <div class= "what-is-iam">
    <h2>I-AMとは</h2>
    <p>I-AMは自分は何者かをTwitterでシェアし、今まで出会うことのなかった出会いを手助けするサービスです。<br>自分にあった働き方や職場がI-AMを通して通して発見できるかも知れません。</p>
  </div>
  <button class="btn btn-secondary">使い方説明</button>

  <div class="popup">
  </div>
  <div class="list">
      <ul class="group">
        <li class="list-group-item">
          <p> 1.自分の特徴、希望条件を入力</p>
        </li>
        <li class="list-group-item">
          <p> 2.Twitterでシェア</p>
        </li>
      </ul>
      <button id="close" class="btn btn-secondary">閉じる</button>
  </div>



  <!-- 部分テンプレート -->
  <%= render 'form', post: @post %>
</div>