// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post{

  .what-is-iam{
    margin: 24px 0 24px 0;
    h2{
      text-align: center;
    }
    p{
      text-align: center;
    }
  }

  .popup {
    z-index: 100;
    display: none;
    height: 100vh;
    width: 100%;
    background: #000000;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    .content {
    background-color:#fff;
    padding: 30px;
    width: 50%;
    opacity: initial;
  }
  }

  .show {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .list-group{
    margin: 24px 0 24px 0 !important;
    .list-group-item{
      &:hover{
        background-color: #ffcc80;
      }
    }
  }

  .your-posts{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    h4{
      text-align: center;
      font-size: 16px;
      color: #fff;
      margin-bottom: 0;
    }
  }
  .row{
    margin-top: 44px;

  }
  .actions{
    margin-top: 12px;
  }
  .form-group{

    p{
      margin-top: 24px;
      font-size: 13px;
    }
    .images{
      img{
        padding: 0 4px 0 4px;
      }
    }

  }
  .index_image{
    img{
      width: 60%;
      height: auto;
    }
  }
  .user_search{
    input{
      margin-left: 12px;
    }
    .btn-secondary{
      margin-left: 12px;
    }
  }
  .search-result{
    margin-top: 24px;
    border: 2px solid #212121;
    border-radius: 10px;
    padding: 12px;
    .name{
      margin-top: 12px;
    }
    .row{
      margin-top: 24px;
      img{
        width: 50%;
        }
      }
      .col-md-6{
        margin-bottom: 12px;
      }

      .card-bottom{
        display: flex;
        justify-content: flex-end;
        a{
          text-decoration: none;
          &:hover{
            background-color: transparent;
          }
        }

        span{
          color: #fff;
        }

        .my-gray{
          color: #fff;
        }
      }
  }
  .show-image{
    img{
    width: 100%;
    height: auto;
    }
  }
}