// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.what-is-iam{
  margin: 24px 0 24px 0;
  h2{
    text-align: center;
  }
  p{
    text-align: center;
  }
}
.list-group{
  margin: 24px 0 24px 0 !important;
  .list-group-item{
    &:hover{
      background-color: #ffcc80;
    }
  }
}

.your-posts{
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  h4{
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
  }
}